.cart-btn {
  background-color: red;
  width: 112px;
  height: 46px;
  border-radius: 50px;
  margin-top: -8.8%;
  margin-right: 2.9%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
