.intro-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-txt {
  font-family: "Noticia Text", serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  font-weight: 700;
  width: 780px;
  text-align: center;
  padding-top: 16%;
  color: #ffe68f;
  text-shadow: rgba(0, 0, 0, 0.4) 0 4px 5px;
}
